
*{
    box-sizing: border-box;
}

html,
body,
#root,
main
{
    position: fixed;
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
    width: 100%;
    height: 100%;
}

body{
    background-color: ivory;
}

canvas{
    touch-action: none;
}

h1{
    z-index: 3;
    position: absolute;
    top:0;
    left: 0;
}